/SGRPRestService/target/
/SGRPRestService/model-bin/
/SGRPRestService/res/
/SGRPRestService/src/main/java/org/govt/configs
/SGRPRestService/src/main/java/org/govt/model/Email.java
/StudentGrievanceRedressalWebAppV2/target/